@import '../ThemeBase.scss';
@import '~bootstrap/scss/bootstrap.scss';

.rangeIcons 
{
	@extend .d-flex, .justify-content-between;
	
	svg
	{
		width: 7%;
		height: auto;
	}
	
	svg *
	{
		fill: map-get($theme-colors,"dark");
	}
}

.editorForm
{
	@extend /* .d-flex, .flex-column, */ .rounded, .p-3, .w-100;
	background-color: get-theme-color("bg-header","light");
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4);
	z-index: 100;
}

.editorForm input[type="submit"]
{
	@extend .mx-auto;
	width: 30%;
}

.filterPanel
{
	@extend .d-flex, .flex-column;

	.form-group
	{
		@extend .form-group, .d-inline-flex, .justify-content-center,.align-items-center;
	}
	
	.custom-control 
	{
		width:100%;
	}
}

#filterPanel
{
	max-width: 312px;
}

@media screen and (max-width: 312px)
{
	.filterPanel .form-group
	{
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px)
{
	
}