@import 'ThemeBase.scss';
@import '~bootstrap/scss/bootstrap.scss';

$border-style: 1px solid rgba(127,127,127,0.2);

.app
{
	@extend .d-flex, .flex-column;
	
	background-color: get-theme-color("bg-app","light");
	flex: 1;
}

header
{
	@extend .d-flex, .justify-content-center, .w-100, .sticky-top, .shadow-sm;
	background-color: get-theme-color("bg-header","light");
	// box-shadow: 0px 2px 3px 0px map-get($theme-colors,"primary");
	border-bottom: 3px solid map-get($theme-colors,"primary");
}

.gallery
{
	@extend .d-flex, .flex-wrap, .h-100, .mx-auto;
	width: 80%;
	flex:1;
	box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.2);
	background-color: get-theme-color("bg-gallery","light");
	
	.galleryElement
	{
		width: 33%;
	}
	
	.galleryElementInfo
	{
		display: none;
	}
}

.gallery.list
{
	@extend .flex-column;
	
	.galleryElement
	{
		@extend .justify-content-start;
		width: unset;
		
		.elementWrapper
		{
			@extend .d-flex, .justify-content-center;
			border-right: 1px solid rgba(0,0,0,0.2);
			flex: 1;
		}
		
		&:nth-child(odd)
		{
			background-image: linear-gradient(white 0%, map-get($theme-colors,"primary") 800%);
		}
	}
	
	.galleryElementInfo 
	{
		@extend .d-flex, .flex-column, .ml-2;
		flex: 3;
	}
}

.galleryElement
{
	@extend .d-flex, .justify-content-center, .align-items-center;
	
	height: 250px;
	
}

.toolbar
{
	@extend .d-flex, .justify-content-end, .align-items-center, .w-100, .mr-2, .ml-2, .mb-2;
	
	height: 50px;
	border-bottom: 1px solid rgba(120,120,120,0.3);
	
	.dropdown-toggle
	{
		@extend .justify-content-start;
		display: inline-block !important;
		white-space: nowrap;
		overflow: hidden;
		width: 250px;
		text-overflow: ellipsis;
	}
	
	.dropdown-item
	{
		@extend .justify-content-start;
	}
}

.toolbar>*
{
	@extend .mr-3;
}


@media screen and (max-width: 944px)
{
	.gallery
	{
		width: 100%;
		
		.galleryElement 
		{
			width: 50%;
			
			&:nth-child(n+4)
			{
				border-top: $border-style;
			}
		}
		
		.toolbar .dropdown-toggle
		{
			width: 160px;
		}
	}
}

@media screen and (min-width: 944px) 
{
	.gallery 
	.galleryElement 
	{
		&:nth-child(n+5) 
		{
			border-top: $border-style;
		}
		&:nth-child(3n) 
		{
			border-right: $border-style;
			border-left: $border-style;
		}
	}
}
	
@media screen and (max-width: 504px)
{
	.gallery 
	{
		.galleryElement
		{
			width: 100%;
			
			&:nth-child(n+3)
			{
				border-top: $border-style;
			}
		}
		
		.toolbar
		{
			margin: 0 0 0 0;
			.dropdown-toggle
			{
				width: 110px;
			}
		}
	}
}
