.app
{
	background-color: #0045ff;
	display: flex;
	flex-direction: column;
}

.output
{
	display: flex;
	flex: 10;
	justify-content:center;
	align-items:center;
}

.element
{
}

.closeButton
{
	display: none;
}

.editor
{
	display:flex;
	justify-content: center;
	flex: 1;
}

.editorForm
{
	
}

.formGroupper
{
	display: flex;
	margin-bottom: 10px;
}

.formGroupper>*
{
	display: inline-flex;
}

.formGroupper p
{
	flex: 2;
	margin: 0 0 0 0;
}

.formGroupper input
{
	flex: 1;
}