@import 'ThemeBase.scss';
@import '~bootstrap/scss/bootstrap.scss';

.menu
{
	@extend .w-100,.sticky-top;
	z-index: 1;
}

.editor
{
	@extend .d-flex;
	bottom: 0px;
	width: 20%;
}

.editorPage,
.outputWrapper
{
	@extend .d-flex;
	flex: 1;
}

.outputWrapper
{
	@extend .flex-column;
}

.output
{
	@extend .d-flex, .justify-content-center, .align-items-center;
	flex: 1;
}

.img.leftArrow *
{
	fill: get-theme-color("txt-color","light");
}
