.menu
{
	width: 100%;
	background-color: rgba(127,127,127,0.0);
	/*background-image: linear-gradient(rgba(120,120,120,200),rgba(255,255,255,0));*/
	box-shadow: 0 0 20px 0 rgba(255,255,255,0.4) inset, 0 0 10px 0 rgba(0,0,0,0.4);
	position: fixed;
	z-index: 1;
}

.editor
{
	display:flex;
	justify-content: center;
	width: 100%;
	/*border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 6px 0px;*/
	position: fixed;
	bottom: 0px;
}

.output
{
	display: flex;
	justify-content:center;
	align-items:center;
	flex: 1;
}


.editorForm
{
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	padding: 10px 10px 10px 10px;
	transform: translateY(-20px);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4);
	opacity: 0.3;
	transition: opacity .1s;
	z-index: 100;
}

.editorForm:hover
{
	opacity: 1;
}

.editorForm input[type="submit"]
{
	width: 30%;
	margin: auto;
}

.editorForm input[type="color"]
{
	background-color: transparent;
}

.editorForm input[type="color"]>*
{
	border-radius: 20px 20px 20px 20px;
}

.formGroupper
{
	display: flex;
	margin-bottom: 10px;
}

.formGroupper>*
{
	display: inline-flex;
}

.formGroupper p
{
	flex: 2;
	margin: 0 0 0 0;
}

.formGroupper input
{
	flex: 1;
}

.returnButton img
{
	width:2%;
}
