@import '~bootstrap/scss/bootstrap.scss';

.filterPanel
{
	@extend .d-flex, .flex-column;
	/* position: absolute;
	top: 100px;
	z-index: 10;
	background-color: rgba(254,254,254,0.5); */

	.form-group
	{
		@extend .form-group, .d-inline-flex, .justify-content-center;
	}
	
	.custom-control 
	{
		width:100%;
	}
}

.popover
{
	max-width: 100%;
	width: 35%;
}